{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mango Pests and Diseases</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<div class="page-wrapper">
    <header>
  <nav class="navbar">
    {% if request.path == '/login/' or request.path == '/signup/' %}
    <h2>🥭MangoLife</h2>
    {% else %}
      <h2>🥭MangoLife</h2>
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'pest_list' %}">Pest List</a></li>
        <li><a href="{% url 'report_pest' %}">Make a Survey</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        {% if user.is_authenticated %}
          <li>
            <form method="post" action="{% url 'logout' %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" style="background-color: white; border: none; color: #ffc324 ; cursor: pointer;">
                Logout
                </button>
            </form>
        </li>

        {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
      </ul>
    {% endif %}
  </nav>
</header>

    <main class="main-content">
        {% block content %}
        {% endblock %}
    </main>

    

    <footer class="footer">
        <p>&copy; 2025 Mango Research. All rights reserved.</p>
    </footer>
</body>
</html>
