{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mango Pests and Diseases</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<div class="page-wrapper">
    <header>
        <nav class="navbar">
            <h2> Mango Pests and Diseases Information Website</h2>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'pest_list' %}">Pest List</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'report_pest' %}">Form</a></li>
              {% if user.is_authenticated %}
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                            <button type="submit">Logout</button>
                    </form>
              {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
               {% endif %}

            </ul>
        </nav>
    </header>

    <main class="main-content">
        {% block content %}
        {% endblock %}
    </main>

    

    <footer class="footer">
        <p>&copy; 2025 Mango Research. All rights reserved.</p>
    </footer>
</body>
</html>
